button{
    width: 80px;
    height:65px;
    color: black;
    background-color: rgb(125, 219, 116);
}
u{
  width: 79px;
    color: rgb(90, 157, 245);
}
h1{
 
    color: rgb(90, 167, 202);
}
body{
    background-color: brown;
}
